@tailwind base;
@tailwind components;
@tailwind utilities;


body {

  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  min-height: 100vh;
  justify-content: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes animateUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animateUp {
  animation: animateUp 1s ease-out forwards; /* Duration: 1s, easing: ease-out */
}